/* SECOND MODAL */
.admission-modal-content{
    position: relative;
    width: 90%;
    max-width: 850px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

/* SLIDER */
.slider-container{
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* EACH SLIDE */
.slide{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

/* ACTIVE SLIDE */
.slide.active{
    opacity: 1;
    position: relative;
}

/* IMAGE SIZE CONTROL */
.slide img{
    width: auto;
    max-width: 100%;
    max-height: 75vh;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
